@charset "UTF-8";
body{background-color: gray}

main{
    background-color: chocolate;
}

main,header,nav, footer,article{
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;
}
header, nav,footer,article{
    background: white;
    margin: 5px;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-between;
    align-content: stretch;
}
header,nav,footer{
    flex: 0 0 100%;
}
article{
    flex: 1 0 calc(33.333333% - 10px);
    /*width: calc(33.333333% - 10px);*/
}
main article:nth-child(5){
    color: red;
    order: -1;
    
}
header,nav{order: -10;}
nav ,nav ul{
    display: flex;
    flex-direction:row;
   justify-content: space-between;
   
}
nav li{
    list-style: none;
    padding: 5px;
}
nav a{
    text-decoration: none;
}